In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({
    'NOMBRE': ['Jose','Max'],
    'CARRERA': ['Economia', 'Arquitectura'],
    'EDAD': [23, 26]
}).set_index('NOMBRE')

In [4]:
df1

             CARRERA  EDAD
NOMBRE
Jose        Economia    23
Max     Arquitectura    26

In [5]:
df2 = pd.DataFrame({
    'NOMBRE': ['Aurora','Maria'],
    'CARRERA': ['Medicina', 'Informatica'],
    'EDAD': [22, 28]
}).set_index('NOMBRE')

In [6]:
df = pd.concat([df1, df2])

In [7]:
df

             CARRERA  EDAD
NOMBRE
Jose        Economia    23
Max     Arquitectura    26
Aurora      Medicina    22
Maria    Informatica    28