In [47]:
import pandas as pd

In [48]:
df1 = pd.DataFrame({'AUTO':['Nissan','Ford','Audi'],
                    'COLOR': ['white', 'blue', 'red']}).set_index('AUTO')

In [49]:
df2 = pd.DataFrame({'AUTO':['Nissan','Ford','Audi'],
                    'MODELO': [2018, 2020, 2022]}).set_index('AUTO')

In [50]:
df1

        COLOR
AUTO
Nissan  white
Ford     blue
Audi      red

In [51]:
df2

        MODELO
AUTO
Nissan    2018
Ford      2020
Audi      2022

In [52]:
df = pd.concat([df1, df1], axis=1)

In [53]:
df

        COLOR  COLOR
AUTO
Nissan  white  white
Ford     blue   blue
Audi      red    red